## Part 1

In [213]:
import pandas as pd

In [221]:
report = pd.read_csv('input.csv', names=['bits'], dtype=str)

d = []
[d.append(list(row['bits'])) for index, row in report.iterrows()]
    
df = pd.DataFrame(d)
df.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  0  1  0  1  1  1  1  1  0  0  1
1  1  0  0  1  0  0  1  1  0  1  1  1
2  1  0  1  0  1  0  1  0  1  0  1  1
3  0  1  0  1  0  0  0  1  0  0  0  0
4  0  0  1  1  0  1  1  0  1  1  0  1

In [203]:
gamma, epsilon = [], []

for i in range(len(df.columns)):
    gamma.append(df[i].value_counts().idxmax())
    epsilon.append(df[i].value_counts().idxmin())

gamma = int(''.join(gamma),2)
epsilon = int(''.join(epsilon),2)

print(gamma, epsilon)

2981 1114

In [204]:
gamma*epsilon

3320834

## Part 2

In [222]:
# Oxygen
# data = df.copy()

# for column in data:
#     if len(data) == 1:
#         break
#     column_rows = data[column]
#     counts = column_rows.value_counts()
#     if counts[0] == counts[1]:
#         data = data[column_rows != '0']
#     else:
#         data = data[column_rows != counts.idxmin()]

# bit_value = data.apply(''.join, axis=1).values[0]
# decimal_value = int(bit_value,2)

# print(bit_value, decimal_value)

In [205]:
oxygen = df.copy()

for i in range(len(oxygen.columns)):
    try:
        # print(oxygen)
        # print('--------------')
        if oxygen[i].value_counts()[0] == oxygen[i].value_counts()[1]:
            oxygen = oxygen[oxygen[i] != '0']
        else:
            oxygen = oxygen[oxygen[i] != oxygen[i].value_counts().idxmin()]
    except:
        pass

oxygen_value = oxygen.apply(''.join, axis=1).values[0]
print(oxygen_value, int(oxygen_value,2))

101011101111 2799

In [206]:
CO2 = df.copy()

for i in range(len(CO2.columns)):
    try:
        # print(CO2)
        # print('--------------')
        if CO2[i].value_counts()[0] == CO2[i].value_counts()[1]:
            CO2 = CO2[CO2[i] != '1']
        else:
            CO2 = CO2[CO2[i] != CO2[i].value_counts().idxmax()]
    except:
        pass

CO2_value = CO2.apply(''.join, axis=1).values[0]
print(CO2_value, int(CO2_value,2))

011001000001 1601

In [207]:
int(CO2_value,2) * int(oxygen_value,2)

4481199