## Part 1

In [1]:
import pandas as pd

In [161]:
with open('test.txt') as f:
    lines = f.read().splitlines()

lines = [list(map(int, line)) for line in lines]
lava_tubes = pd.DataFrame(lines)

In [162]:
def find_low_points(dataframe):
    
    low_points = []
    
    for i in range(len(dataframe.columns)):
        
        for j in range(len(dataframe[i])):

            middle = dataframe.loc[j,i]

            try:
                above = dataframe.loc[j-1,i]
            except:
                above = 9

            try:
                right = dataframe.loc[j,i+1]
            except:
                right = 9

            try:
                left = dataframe.loc[j,i-1]
            except:
                left = 9

            try:
                below = dataframe.loc[j+1,i]
            except:
                below = 9

            if min([left, above, right, below]) > middle:
                low_points.append(middle+1)
                
    return low_points

In [163]:
low_points = find_low_points(lava_tubes)
sum(low_points)

15

In [166]:
lava_tubes

   0  1  2  3  4  5  6  7  8  9
0  2  1  9  9  9  4  3  2  1  0
1  3  9  8  7  8  9  4  9  2  1
2  9  8  5  6  7  8  9  8  9  2
3  8  7  6  7  8  9  6  7  8  9
4  9  8  9  9  9  6  5  6  7  8

## Part 2

In [180]:
basin = []

for i in range(len(lava_tubes.columns)):
    for j in range(len(lava_tubes[i])):
        try:
            if lava_tubes.loc[j,i] == 9:
                continue
            elif lava_tubes.loc[j,i] > lava_tubes.loc[j,i+1]:
                print(lava_tubes.loc[j,i], lava_tubes.loc[j,i+1])
        except:
            continue

2 1
8 7
8 5
7 6
8 7
4 3
6 5
3 2
2 1
1 0
2 1

In [175]:
print(lava_tubes[j,i])

KeyError: (0, 0)