## Part 1

In [301]:
import pandas as pd

In [407]:
with open('input.txt') as f:
    lines = f.readlines()

start, end = [], []    
    
for line in lines:    
    entry = list(line.split())
    start.append(entry[0].split(','))
    end.append(entry[2].split(','))

vents = pd.concat([pd.DataFrame(start, columns=['s_col','s_row']), 
           pd.DataFrame(end, columns=['f_col','f_row'])], axis=1)

vents = vents.astype(int)
vents.head()

   s_col  s_row  f_col  f_row
0    414    379    827    379
1    683    947    183    947
2    156    577    480    577
3    939    503    939    959
4    388    907    388    349

In [408]:
# Ceate map of the sea floor
max_row = vents.s_row.append(vents.f_row).max()+1
max_col = vents.s_col.append(vents.f_col).max()+1

seafloor = pd.DataFrame(0, index=range(max_row), columns=range(max_col))
seafloor

,0,1,2,3,4,5,6,7,8,9,...,980,981,982,983,984,985,986,987,988,989
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [409]:
for index, vent in vents.iterrows():
    
    start_row, start_column = vent['s_row'], vent['s_col']
    end_row, end_column = vent['f_row'], vent['f_col']
    
    if start_row == end_row:
        vent_size = abs(start_column - end_column) + 1
        
        if end_column - start_column > 0:
            vent_range = range(start_column, start_column + vent_size)
            
            for i in vent_range:
                seafloor.iloc[start_row, i] = seafloor.iloc[start_row, i] + 1

        else:
            vent_range = range(start_column, start_column - vent_size, -1)
            
            for i in vent_range:
                seafloor.iloc[start_row, i] = seafloor.iloc[start_row, i] + 1

    
    elif start_column == end_column:
        vent_size = abs(start_row - end_row) + 1
 
        if end_row - start_row > 0:
            
            for i in range(start_row, start_row + vent_size):
                seafloor.iloc[i, start_column] = seafloor.iloc[i, start_column] + 1
            
        else:
            for i in range(start_row, start_row - vent_size, -1):
                seafloor.iloc[i, start_column] = seafloor.iloc[i, start_column] + 1
        
    else:
        continue

seafloor

,0,1,2,3,4,5,6,7,8,9,...,980,981,982,983,984,985,986,987,988,989
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [410]:
# Get the answer
sum(seafloor[seafloor > 1].count())

6461

## Part 2

In [411]:
# Ceate empty map of the sea floor
seafloor = pd.DataFrame(0, index=range(max_row), columns=range(max_col))
seafloor

# mark the vents on the sea floor map
for index, vent in vents.iterrows():
    
    start_row, start_column = vent['s_row'], vent['s_col']
    end_row, end_column = vent['f_row'], vent['f_col']
    
    if start_row == end_row:
        vent_size = abs(start_column - end_column) + 1
        
        if end_column - start_column > 0:
            vent_range = range(start_column, start_column + vent_size)
            
            for i in vent_range:
                seafloor.iloc[start_row, i] = seafloor.iloc[start_row, i] + 1

        else:
            vent_range = range(start_column, start_column - vent_size, -1)
            
            for i in vent_range:
                seafloor.iloc[start_row, i] = seafloor.iloc[start_row, i] + 1

    
    elif start_column == end_column:
        vent_size = abs(start_row - end_row) + 1
 
        if end_row - start_row > 0:
            
            for i in range(start_row, start_row + vent_size):
                seafloor.iloc[i, start_column] = seafloor.iloc[i, start_column] + 1
            
        else:
            for i in range(start_row, start_row - vent_size, -1):
                seafloor.iloc[i, start_column] = seafloor.iloc[i, start_column] + 1
        
    else:
        # check horizintal direction
        if start_column > end_column:
            column_list = list(range(start_column, end_column - 1, -1))
        else:
            column_list = list(range(start_column, end_column + 1))

        # check vertical firection
        if start_row > end_row:
            row_list = list(range(start_row, end_row - 1, -1))
        else:
            row_list = list(range(start_row, end_row + 1))

        # Get coordinates
        coordinates = list(zip(row_list, column_list))

        for coordinate in coordinates:
            seafloor.loc[coordinate] = seafloor.loc[coordinate] + 1

seafloor

,0,1,2,3,4,5,6,7,8,9,...,980,981,982,983,984,985,986,987,988,989
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [412]:
# Get the answer
sum(seafloor[seafloor > 1].count())

18065