## Part 1

In [49]:
import pandas as pd
course = pd.read_csv('input.csv', names=['course','unit'], sep=' ')
course.head()

    course  unit
0  forward     6
1  forward     8
2     down     6
3     down     6
4  forward     9

In [29]:
horizontal_position = course['unit'].loc[course['course'] == 'forward'].sum()

In [25]:
down = sum(course['unit'].loc[course['course'] == 'down'])
up = sum(course['unit'].loc[course['course'] == 'up'])
depth = down - up

In [30]:
print(horizontal_position, depth)

2050 826

In [31]:
print(horizontal_position*depth)

1693300

## Part 2

In [40]:
course['depth'], course['aim'] = 0, 0
course.head()

    course  unit  depth  aim
0  forward     6      0    0
1  forward     8      0    0
2     down     6      0    0
3     down     6      0    0
4  forward     9      0    0

In [59]:
depth=0
aim=0
h_position=0

for i, row in course.iterrows():
    if row['course'] == 'down':
        aim += row['unit']
        
    elif row['course'] == 'up':
        aim -= row['unit']
        
    else: # forward
        h_position += row['unit']
        depth += aim * row['unit']

print(depth, aim, h_position)

906321 826 2050

In [60]:
print(h_position*depth)

1857958050